<@ name TestTemplateClassA @>
<@ input Mondop.Templates.Test.Model.TestClassA, Mondop.Templates.Test as classA @>
Hello <@#classA.Name@>
<@ foreach(classB in classA.BClasses) @>
	<@ br @>Hello <@#classB.Name@>
<@ end @>